body {
    background-color: #36544E;
    color: floralwhite;
    font-family: "Raleway";
    margin: 8px;
    display: block;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Shadows Into Light";
}

.pLeft {
    text-align: left;
}

.pRight {
    text-align: right;
}

